.contador{
  min-width: 300px; /*para que si el contador necesita expandirse se expanda*/
  height: 300px;
  font-size: 160px;
  padding: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid white;
  margin-bottom: 15px;
}

.contenedor-principal{
  height: 550px;
  width: 600px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}